
/* CLOUDINARY CONFIG */
CLOUD_API_KEY = ENTER CLOUD API KEY
CLOUD_API_SECRET = ENTER CLOUD API SECRET
CLOUD_NAME = ENTER CLOUD NAME

/* MAPTILLER CONFIG */
MAP_TILER_API = ENTER MAP TILER API KEY


/* DATABASE CONNECTIVITY */
MONGO_ATLAS_URL = ENTER MONGODB ATLAS URL

/* EMAIL CREDIANTIAL */
MY_EMAIL = ENTER YOUR EMAIL
ONLY_GPASS = ENTER GPASS BY GOOGLE GMAIL


SECRET = ENTER SECRET CODE FOR SESSION